@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-bg: #dad0cd;

  --color-bg-left: #0e0e0e;
  --color-text-title-left: #fff;
  --color-text-left: #ffe9cc;

  --color-accent: #ff9100;
  --color-aux-left: #211b14;
  --color-aux-right: #e7d6c4;

  --color-bg-right: #fff;
  --color-text-title-right: #090908;
  --color-text-subtitle-right: #897d6d; 
  --color-text-right: #282623;
}

body {
  background: var(--color-bg);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: var(--color-bg-right);
  margin: 50px; 

  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

/* Left Side */
.container .left_side {
  position: relative;
  background: var(--color-bg-left);
  padding: 40px;
}

.profile_text {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-accent);
}

.profile_text .img_box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_text .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_text h2 {
  color: var(--color-text-title-left);
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4em;
}

.profile_text h2 span {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: capitalize;
}

.contact_info {
  padding-top: 40px;
}

.title {
  color: var(--color-text-title-left);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.text {
  color: var(--color-text-left);
  font-weight: 300;
}

.contact_info ul {
  position: relative;
}

.contact_info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact_info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: var(--color-accent);
}

.contact_info ul li a {
  color: var(--color-text-left);
  text-decoration: none;
  font-weight: 300;
  transition: 0.5s;
}

.contact_info ul li a:hover {
  opacity: 0.6;  
}

.contact_info.education li {
  margin-bottom: 15px;
}

.contact_info.education h5 {
  font-weight: 500;
  color: var(--color-accent);
}

.contact_info.education h4:nth-child(2) {
  color: var(--color-text-title-left);
  font-weight: 500;
}

.contact_info.education h4 {
  color: var(--color-text-left);  
  font-weight: 300;
}

.contact_info.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: var(--color-aux-left);
  display: block;
  margin-top: 5px;
}

.contact_info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--color-accent);
}

/* Right Side */
.container .right_side {
  position: relative;
  background: var(--color-bg-right);
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: var(--color-text-title-right);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: var(--color-text-right);
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: var(--color-text-subtitle-right);
  font-weight: 600;
  margin-right: 10px;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: var(--color-text-subtitle-right);
  font-weight: 600;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: var(--color-aux-right);
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--color-accent);
}

.others ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.others ul li {
  list-style: none;
  color: var(--color-text-right);
  font-weight: 500;
  margin: 10px 0;
}

.others ul li .fa {
  color: var(--color-accent);
  font-size: 18px;
  width: 20px;
  margin-right: 5px;
}

/* Responsive */
@media (max-width: 1000px) {

  .container {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }

  .others ul {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 600px) {

  .about .box {
    flex-direction: column;
  }

  .about .box .year_company {    
    margin-bottom: 5px;
  }

  .others ul {
    grid-template-columns: repeat(1,1fr);
  }

  .skills .box {
    grid-template-columns: repeat(1,1fr);
  }
}




